
@{
    ViewBag.Title = "MovieDetails";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="movie-details-inner mb-15">
                <ul class="list-unstyled">
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                </ul>
            </div>
            <div class="movie-awards-inner">
                <h5>Awards and Recognition</h5>
                <ul class="list-unstyled">
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                    <li>Christophar Nolan</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Synopsis</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">AGF Review</a></li>
                    
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">...</div>
                    <div role="tabpanel" class="tab-pane" id="profile">...</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

