<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - All Great Films</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/agf_custom.css" rel="stylesheet" type="text/css" />
    
    @*<link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <link rel="stylesheet" type="text/css" href="css/component.css">*@

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"><img src="~/Assets/agf_logo.png"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
               
                                    <ul class="nav navbar-nav">
                                        <li class="active" role="presentation"><a href="#">Register </a></li>
                                        <li role="presentation"><a href="#">Movies </a></li>
                                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a href="#">First Item</a></li>
                                                <li role="presentation"><a href="#">Second Item</a></li>
                                                <li role="presentation"><a href="#">Third Item</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                
                
                                    <p class="navbar-text navbar-right actions">
                                        <a class="btn btn-default action-button" role="button" href="#"> <i class="icon ion-log-out"></i> Login </a>
                                    </p>
                
            </div>
        </div>
    </nav>
    <div id="wrapper">
            @RenderBody()
    </div>
        <footer></footer>


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>