@model IEnumerable<AllGreatFilms.BusinessLayer.ViewModels.homeList_vm>


@{int i = 0;
string gen = "";}
@foreach (var item in Model)
{
    i = i + 1;




        <div style="align-content:center; margin-left:10%;  margin-top:20px" class="animated fadeIn">
            <ul style="list-style-type:none;  display:block; ">
                <li style="float:left; width: 25%;">
                    <input type="checkbox" name="checkbox" value="@Html.DisplayFor(modelItem => item.Moods)" id=@i class="css-checkbox" />
                    <label for=@i class="css-label">@Html.DisplayFor(modelItem => item.Moods) </label>



                </li>

            </ul>


        </div>

}

<div class="row" id="moodsPanel">

    <div class="moodsPanelHeading col-md-8" style="padding-left: 0px;">


        <div class="col-md-12" style="padding-left: 0px;">
            <button class="btn btn-default btn-circle" onclick="genreFilter('M')" style="margin-left:0px"> Apply</button>


        </div>
    </div>

</div>
